/*
Hide code snippets on mobile devices
XS
= = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = =
*/
@media screen and (max-width: 767px) {

	img {
		float: left;
	}


}




/*
Tablets and up
SM
*/
@media screen and (min-width: 768px) {
	
	section{
  	padding:60px 0;
	}

}




/*
Tablets/desktops and up
MD
*/
@media screen and (min-width: 992px) {

	section{
  	padding:60px 0;
	}
	
}




/*
Large desktops and up
LG
*/
@media screen and (min-width: 1200px) {

	section{
  	padding:60px 0;
	}
}


