/*
Hide code snippets on mobile devices
XS
= = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = =
*/
@media screen and (max-width: 767px) {

		h1 { 
			font-size: 225%;
		}

		#archive p.lead {
			font-size: 116.666666666667%;
		}

		/*Featured Image on Press Archive*/
		#newsfeed .thumbnail img{
			width: 150px;
			height: auto;
			margin: 10px 10px 10px 0;
		}

		.optional {
			display: hidden;
		}


}




/*
Tablets and up
SM
*/
@media screen and (min-width: 768px) {
	
	section{
  	padding:60px 0;
	}

		h1 { 
			font-size: 225%;
		}

		#archive p.lead {
			font-size: 116.666666666667%;
		}

		/*Featured Image on Press Archive*/
		#newsfeed .thumbnail img{
			width: 150px;
			height: auto;
			margin: 10px 10px 10px 0;
		}

}




/*
Tablets/desktops and up
MD
*/
@media screen and (min-width: 992px) {

	section{
  	padding:60px 0;
	}
	
}




/*
Large desktops and up
LG
*/
@media screen and (min-width: 1200px) {

	section{
  	padding:60px 0;
	}
}


