/*
Sprout
*/

body{
  padding-top: 20px;
  padding-bottom: 100px;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  color:#222;
}

a{
  color:#fb3346;
  color:#fb5f67;
}
a:hover{
 color:#fb5f67; 
}

section{
  padding:50px 0;
}

.container{
  max-width: 700px; /*This slims out the container of the site*/
}

h3{
  margin: 0;
  font-weight: 800;
}

h4{
  margin: 0;
  margin-bottom: 5px;
  font-weight: 800;
}
h4 a{
  color:#000;
}
h4 a:hover{
  color:#000;
  text-decoration: none;
  border-bottom: 2px #222 solid;
}
h6{
  margin:0 0 7px 0;
  text-transform: uppercase;
}


#head{
  margin-bottom: 0;
}
#head h1{
  margin:0;
  padding-bottom: 10px;
  font-size:28px;
  font-weight:300;
  /*text-transform: uppercase;*/
  border-bottom: 2px #000 solid;
}
#head h1 img{
  margin-top:-5px;
  position: relative;
  width:21px;
  display: none;
}
#head h1 span{
  margin-left:3px; 
  font-size: 8px;
  font-weight: 900;
  position: absolute;
  top:3px;
  text-transform: uppercase;
}
#head .updated{
  margin:5px 0;
  font-size:12px;
  color:#999;
}



.example{
  background: #fff;
  -webkit-transition: all 0.2s ease-in-out;
     -moz-transition: all 0.2s ease-in-out;
       -o-transition: all 0.2s ease-in-out;
          transition: all 0.2s ease-in-out;
}
.example:hover{
  background: #ffb7ea;
}



